.outlet {
    width: 70vw;
}

// .splitTop {
//     height: 90%;
//     width: 100%;
//     position: fixed;
//     z-index: 1;
//     overflow-x: hidden;
//     padding-top: 20px;
//     top: 0;
//   }

  .staticImage {
    // background-color: grey; 
    height: 100%; 
    position: sticky; 
    top: 0;
  }

  .splitBottom {
    background-color: black; 
    position: fixed; 
    bottom: 0; 
    height: 10%; 
    width: 49%;
  }

  .tab {
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 50px;
    margin-left: 10px;
    opacity: 0.5;
    transition: 0.3s;
        span {
            display: none;
            color: white;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 100;
            margin-top: 5%;
        }
    }

    .active, .tab:hover {
        height: 30px;
        width: 100px;
            span {
                display: block;
            }
    }

    .navigation {
        display: flex;
        flex-direction: row;
        margin-left: 10px; 
        margin-top: 7px;
        div {
            cursor: pointer;
        }
    }